<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="style.css">
    <script src="https://use.fontawesome.com/ceefe26bc4.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0"/>
    <title>Anele's Store | The Best Store In The World</title>
</head>
<body>
    <div class="grid-container">
        <header class="row">
            <div>
                <a class="brand" href="index.html">Anele's Store</a>
            </div>
            <div>
                <a href="cart.html">Cart</a>
                <a href="signin.html">Sign In</a>
            </div>
        </header>
        <main>
            <div class="row center">
                <!-- Product Card -->
                <div class="card">
                    <a href="product.html">
                        <img class="medium" src="./images/Jerseys/Basketball/Kobe-Jersey.jpg" alt="kobe-jersey" />
                    </a>
                    <div class="card-body">
                        <a href="product.html">
                            <h2>Kobe Bryant Jersey</h2>
                        </a>
                        <div class="rating">
                            <span> <i class="fa fa-star"></i></span>
                            <span><i class="fa fa-star"></i></span>
                            <span> <i class="fa fa-star"></i></span>
                            <span> <i class="fa fa-star"></i></span>
                            <span><i class="fa fa-star"></i></span>
                        </div>
                        <div class="price">
                            R400
                        </div>
                    </div>
                </div>
                <!-- End Of The Card -->
                 <!-- Product Card -->
                 <div class="card">
                    <a href="product.html">
                        <img class="medium" src="./images/Air Jordan/Air-Jordan-ADG.jpg" alt="air-jordan-adg" />
                    </a>
                    <div class="card-body">
                        <a href="product.html">
                            <h2>Air Jordan ADG</h2>
                        </a>
                        <div class="rating">
                            <span> <i class="fa fa-star"></i></span>
                            <span><i class="fa fa-star"></i></span>
                            <span> <i class="fa fa-star"></i></span>
                            <span> <i class="fa fa-star-o"></i></span>
                            <span><i class="fa fa-star-o"></i></span>
                        </div>
                        <div class="price">
                            R350
                        </div>
                    </div>
                </div>
                <!-- End Of The Card -->
                 <!-- Product Card -->
                 <div class="card">
                    <a href="product.html">
                        <img class="medium" src="./images/Hoodies/Normal/Butterfly-Hoodie.jpg" alt="butterfly-hoodie" />
                    </a>
                    <div class="card-body">
                        <a href="product.html">
                            <h2>Butterfly Hoodie</h2>
                        </a>
                        <div class="rating">
                            <span> <i class="fa fa-star"></i></span>
                            <span><i class="fa fa-star"></i></span>
                            <span> <i class="fa fa-star"></i></span>
                            <span> <i class="fa fa-star-half-o"></i></span>
                            <span><i class="fa fa-star-o"></i></span>
                        </div>
                        <div class="price">
                            R500
                        </div>
                    </div>
                </div>
                <!-- End Of The Card -->
                 <!-- Product Card -->
                 <div class="card">
                    <a href="product.html">
                        <img class="medium" src="./images/Watches/Candino-Swiss.jpg" alt="swiss-watch" />
                    </a>
                    <div class="card-body">
                        <a href="product.html">
                            <h2>Candino Swiss Watch</h2>
                        </a>
                        <div class="rating">
                            <span> <i class="fa fa-star"></i></span>
                            <span><i class="fa fa-star"></i></span>
                            <span> <i class="fa fa-star"></i></span>
                            <span> <i class="fa fa-star-o"></i></span>
                            <span><i class="fa fa-star-o"></i></span>
                        </div>
                        <div class="price">
                            R800
                        </div>
                    </div>
                </div>
                <!-- End Of The Card -->
                 <!-- Product Card -->
                 <div class="card">
                    <a href="product.html">
                        <img class="medium" src="./images/Glasses/Camo-Glasses.jpg" alt="asteri-glasses" />
                    </a>
                    <div class="card-body">
                        <a href="product.html">
                            <h2>Asteri Glasses</h2>
                        </a>
                        <div class="rating">
                            <span> <i class="fa fa-star"></i></span>
                            <span><i class="fa fa-star"></i></span>
                            <span> <i class="fa fa-star"></i></span>
                            <span> <i class="fa fa-star-o"></i></span>
                            <span><i class="fa fa-star-o"></i></span>
                        </div>
                        <div class="price">
                            R250
                        </div>
                    </div>
                </div>
                <!-- End Of The Card -->
                <!-- Product Card -->
                <div class="card">
                    <a href="product.html">
                        <img class="medium" src="./images/Hats/Baseball-Hat.jpg" alt="baseball-hat" />
                    </a>
                    <div class="card-body">
                        <a href="product.html">
                            <h2>Baseball Hat</h2>
                        </a>
                        <div class="rating">
                            <span> <i class="fa fa-star"></i></span>
                            <span><i class="fa fa-star"></i></span>
                            <span> <i class="fa fa-star"></i></span>
                            <span> <i class="fa fa-star"></i></span>
                            <span><i class="fa fa-star-half-o"></i></span>
                        </div>
                        <div class="price">
                            R75
                        </div>
                    </div>
                </div>
                <!-- End Of The Card -->
                <!-- Product Card -->
                <div class="card">
                    <a href="product.html">
                        <img class="medium" src="./images/Headphones/Beats-Headphones.jpg" alt="beats-headphones" />
                    </a>
                    <div class="card-body">
                        <a href="product.html">
                            <h2>Beats By Dre Headphones</h2>
                        </a>
                        <div class="rating">
                            <span> <i class="fa fa-star"></i></span>
                            <span><i class="fa fa-star"></i></span>
                            <span> <i class="fa fa-star"></i></span>
                            <span> <i class="fa fa-star-o"></i></span>
                            <span><i class="fa fa-star-o"></i></span>
                        </div>
                        <div class="price">
                            R450
                        </div>
                    </div>
                </div>
                <!-- End Of The Card -->
            </div>
        </main>
        <footer class="row center">
            All Rights Reserved
        </footer>
    </div>
</body>
</html>